// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

 /* Hide the scrollbar */
 #timeline::-webkit-scrollbar {
    width: 0.5em; /* Adjust the width as needed */
    background-color: transparent; /* Change to desired color */
  }

  /* Optional: Style the scrollbar track */
  #timeline::-webkit-scrollbar-track {
    background-color: transparent; /* Change to desired color */
  }

  /* Optional: Style the scrollbar thumb */
  #timeline::-webkit-scrollbar-thumb {
    background-color: transparent; /* Change to desired color */
  }


  /*------------------------------------------------------------------------------ Third Page */

  .bodyprints {
    background-color: #F2F0F2;
}

.return {
    position: absolute;
    top: 5vh;
    left: 5vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
}

.return:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: -10vh;
}

.square {
    position: relative;
    width: 50vh;
    height: 50vh;
    margin-right: 10vw;
    overflow: hidden;
}

.square img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 50vh;
    height: 50vh;
}

.gallery img {
    width: calc(25% - 10px);
    height: calc(33.33% - 10px);
    margin: 5px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

.gallery img.active {
    border: 2px solid #333;
}
